@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #23297f;
  --text: #080A45;
  --primary: #23297F;
  --secondary: #585AB3;
  --accent: #C5B6E0;
  --accent2: #8F84D2;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
.courses {
  list-style-type: disc; /* This ensures that bullets are displayed */
}


/* Carousel styling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move through all items */
  }
}

.carousel-inner {
  display: flex;
  animation: scroll 30s linear infinite; /* Adjust duration here for speed control */
  width: max-content; 
}

.carousel-item {
  flex-shrink: 0;
  width: auto; 
  object-fit: cover;
}

/* Pause scrolling when hovered */
.paused {
  animation-play-state: paused;
}

.max-w-screen-xl {
  max-width: 1280px; 
}

/* Hide scrollbar */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}

.overflow-hidden {
  scrollbar-width: none;
}

/* Skill Icons */
.skills-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.skill {
  text-align: center;
}

.icon-size {
  font-size: 3rem; 
}

.text-size {
  font-size: 1rem; 
  margin-top: 0.5rem; 
}

/* Contact */
.contact {
  font-size: 1.4rem;
}

/* Projects */
.web-img {
  height: auto;
  width: 100%;
  margin: 1rem auto;
}
.unity-img {
  margin: 1rem auto;
}
.view-project-button {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--secondary);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.description {
  white-space: pre-wrap; /* Preserves whitespace and newlines */
}

.app-screenshot {
  margin: 1rem auto;
  width: 100%;
  height: auto;
}
